@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Areas
        3.1 Header
        3.2 Testimonial
        3.3 Support
        3.4 Faq
        3.5 Footer
////////////////////////////////////////////////////////////////////////*/


/*////////////////////////
(grijs #899CA0 en donkergroen #1C2B32)
////////////////////////*/

/*////////////////////////
    1. Global Styles
////////////////////////*/

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}



/*////////////////////////
    2. Typography
////////////////////////*/
body {
    font-family: Poppins, sans-serif;
    background-color: white;
}
.main {

}

/*////////////////////////
    3. Areas
////////////////////////*/



/*///////////// 3.1 Header /////////////*/
.header-elements img {
    position: relative;
    max-width: 99.96%;
}
.header-h1 {
    font-size: 90px;
    position: absolute;
    text-align: center;
    top: 208px;
    right: 395px;
}

.header-p {
    font-size: 12px;
    position: absolute;
    top: 340px;
    right: 550px;
}

.input-check- {
    position: absolute;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 30px 0 0 30px;
    top: 380px;
    right: 640px;
    width: 280px;
    /*height: 60px;*/
    margin: 0;
    padding: 20px;
}

.button-check-domian {
    position: absolute;
    color: white;
    background-color: #1C2B32;
    border-radius: 0 30px 30px 0;
    top: 380px;
    right: 475px;
    width: 190px;
    height: 60px;
    margin: 0;
    padding: 5px;
}

/*///////////// 3.2 Testimonial /////////////*/

.quotes {
    box-shadow: 0.5px 0.5px 25px 15px rgba(0,0,0,0.10);
    width: 900px;
    height: 230px;
    margin: 50px;
    margin-left: 250px;
    padding: 30px;
    border-radius: 10px 10px 10px 10px;
}

.avatar-img{
    margin-left: 20px;
    margin-top: 20px;
}

.quotes-p {
    text-align: center;
}

.shadow {
    box-shadow: 10px 10px 1px 1px;
}



/*///////////// 3.3 Support /////////////*/

.callcenter-img {
    /*align-items: center;*/
    width: 950px;
    height: 500px;
    margin: 30px;
    margin-left: 220px;
    padding: 25px;
    right: 300px;
}

figcaption {
    /*text-align: left;*/
    margin-top: -40px;
    margin-left: 240px;

}

.support-button {
    color: white;
    background-color: #1C2B32;
    border-radius: 25px 25px 25px 25px;
    margin: 15px;
    margin-left: 240px;
    padding: 15px;
}


/*///////////// 3.4 Faq /////////////*/

details {
    margin-left: 240px;
}

details[open] {
    margin-left: 240px;
    padding: 5px;
}

details[open] summary {
    padding: 0.5em;
    border-bottom: 1px solid #aaa;
    margin-bottom: 5px;
}


/*///////////// 3.5 Footer /////////////*/

.footer{
    background-color: #1C2B32;
    height: 40px;
    padding: 50px;
    text-align: center;
    
}

.footer-p {
    color: white;
}

